@dark-gray:   #4f4b60;
@gray:        #ADA7BE;
@red:         #FF9494;
@dark-red:    #F99090;
@green:       #2dcd73;
@dark-green:  #0CC65C;
@yellow:      #d9b76e;
@dark-yellow: #DFA426;
@cyan:        #90B6DA;
@dark-cyan:   #72B2EE;
@orange:      #FF932E;
@dark-orange: #E49E5E;
@blue:        #7AB6FF;
@dark-blue:   #70B0FF;
@purple:      #CABDFF;
@dark-purple: #b7a1ff;

@background:           #160E00;
@foreground:           #b7a1ff;
@cursor-color:         #ff9839;
@cursor-text:          #90B6DA;
@selection-background: #353147;
@selection-foreground: #CFC2FF;
