@dark-gray:   #1E1D25;
@gray:        #474257;
@red:         #A80000;
@dark-red:    #340404;
@green:       #135831;
@dark-green:  #031C0E;
@yellow:      #61491A;
@dark-yellow: #312407;
@cyan:        #254A6F;
@dark-cyan:   #051829;
@orange:      #803E00;
@dark-orange: #643911;
@blue:        #004CA8;
@dark-blue:   #00306B;
@purple:      #170075;
@dark-purple: #0A0033;

@background:           #FFF0DB;
@foreground:           #190075;
@cursor-color:         #994A00;
@cursor-text:          #183249;
@selection-background: #BFBACE;
@selection-foreground: #0F0047;
